<%- include('../../../templates/organizerNavbar.ejs') -%>

    <!--==========================
  Services Section
============================-->
	<section id="services">
		<div class="container wow fadeInUp">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-title">DASHBOARD</h3>
					<div class="section-title-divider"></div>
     
				</div>
			</div>
<div class="row">
        <!-- YOUR CODES HERE -->
	<div class="row">
	
		<div class="col-6 col-md-2"></div>
		<div class="col-6 col-md-4">
			<fieldset class="well the-fieldset" style="border-color: black; border-width: 3px; background-color: light gray">
				<div class="card" style="width: 20rem;">
					<div class="card-block">
						<h4 class="card-title">Upcoming Event</h4>
							<div class="my-overflow" style="overflow-y: auto;height: 100px; max-height: 100px; width: 370px">
								<p class="card-text">You have <strong>23</strong> Upcoming Events!</p>
							</div>
					
							<a class="btn btn-primary" href="/organizerDashboard/upcomingEvents">See</a>
					
					</div>
				</div>
			</fieldset>
		</div>
    
		<div class="col-6 col-md-4">
			<fieldset class="well the-fieldset" style="border-color: black; border-width: 3px; background-color: light gray">
				<div class="card" style="width: 20rem;">
					<div class="card-block">
						<h4 class="card-title">Unpaid Transactions</h4>
							<div class="my-overflow" style="overflow-y: auto;height: 100px; max-height: 100px; width: 370px">
								<p class="card-text">You have <strong>23</strong> Unpaid Transactions!</p>
							</div>
						<a href="" class="btn btn-primary">See</a>
					</div>
				</div>
			</fieldset>
		</div>
	
	</div>

	<!-- END OF YOUR CODES -->
      </div>
    </div>  
  </section>
  
<%- include('../../../templates/footer.ejs') -%>

