<%- include('../../../templates/organizerNavbar.ejs') -%>
    <!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">RECENT EVENTS</h3>
          <div class="section-title-divider"></div>
     
        </div>
      </div>
        
      <div class="row">
        <!-- YOUR CODES HERE -->


<div class="container" >
    <div class="row" >
        <div align=center>
            <fieldset class="well the-fieldset" style=" width:40%;border-color: black; border-width: 3px; background-color: light gray">
               <div class="card" style="width: 20rem;">
                <div class="card-block">
                <h3 class="card-title"><strong>Event Name:</strong></h3>
				<div align=left>
                <h5 class="card-title"><strong>Event Date:</strong></h5>
				<h5 class="card-title"><strong>Event Time:</strong></h5>
				<h5 class="card-title"><strong>Event Description:</strong></h5>
				<h5 class="card-title"><strong>Event Status:</strong></h5>
				</div>
				<button type="submit" class="btn btn-primary" >View Details</button>
                </div>
                </div>
            </fieldset> 
        </div>
    </div>
    
	<!-- END OF YOUR CODES -->
      </div>
    </div>  
  </section>

	  
	  
  
<%- include('../../../templates/footer.ejs') -%>